{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="contact-container">
    <h1>Contact Me</h1>
    
    <div class="contact-card">
        <div class="contact-header">
            <i class="fas fa-user"></i>
            <h2>Manga Sree Rapelli</h2>
        </div>
        
        <div class="contact-details">
            <p><i class="fas fa-envelope"></i> mangasreerapelli@gmail.com</p>
            <p><i class="fas fa-map-marker-alt"></i>Telangana, India</p>
        </div>
        
        <div class="social-links">
            <a href="https://www.linkedin.com/in/mangasree-rapelli/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/Mangasree"><i class="fab fa-github"></i></a>
        </div>
    </div>
</div>
{% endblock %}